<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-links">
                <a href="#about_me">About</a>
                <a href="#projects_showcase">Projects</a>
                <a href="#contact_section">Contact</a>
                <a href="#blog_section">Journey</a>
            </div>
            <div class="footer-social">
                <a href="https://github.com/yuwaddylwin" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/yuwaddylwin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/yuwaddyl_win/profilecard/?igsh=eXdtb3ByYTBnY3lw" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://yuwaddylwin.github.io/cv">CV</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 800,
        once: true
    });
</script>
<script src="/js/script.js"></script>